# =========================
# DEPENDENCIES
# =========================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# TESTING
# =========================
/coverage

# =========================
# NEXT.JS
# =========================
/.next/
/out/

# =========================
# PRODUCTION
# =========================
/build

# =========================
# PRISMA (DEV DATABASE)
# =========================
/prisma/dev.db
/prisma/dev.db-journal

# =========================
# ENV FILES
# =========================
.env*
!.env.example

# =========================
# LOGS & DEBUG
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# MISC
# =========================
.DS_Store
*.pem

# =========================
# VERCEL (NOT USED)
# =========================
.vercel

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo
next-env.d.ts
